<div class="hero">
<br />
<br />
<br />
<br />
 <div class="headline text-center">
 	<br />
 	<h1>Join ChessOnRails Now</h1>
 	<br />
 	<button class="btn btn-primary btn-lg"> Placeholder Button</button>
 </div>
</div>

<br />
<div class="container">
<div class="booyah-box col-xs-12 col-sm-6 text-center">
	<p>Image Placeholder</p>
	<iframe src="//giphy.com/embed/9PyhoXey73EpW?html5=true" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen>
	</iframe>
	<p>
	  <a href="http://giphy.com/gifs/acid-october-gifdump-9PyhoXey73EpW">via GIPHY</a>
	</p>
</div>

<div class="booyah-box col-xs-12 col-sm-6 pull-right"> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>

</div>
