<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Welcome to Team Stockfish Syndrome's ChessOnRails App!</h1>
  <h2>Where the devs feel strangely sympathetic to their code</h2>
  <h3>Chess noobs are welcome!</h3>

  <p>Integration is continuous :)</p>

  <p>testing if Travis swtich is off</p>

  <p>Bootstrap will spice things up!</p>
</div>