<div class="booyah-box col-xs-4 col-xs-offset-4 text-center">
  <h1>Create a Game</h1><br />

  <%= form_for @game do |f| %>
    <b>Enter a name for this game</b>
    <%= f.text_field :name %><br /><br />
    <%= f.hidden_field :player_white_id, :value => current_user.id %><br /><br />

    <%= f.submit 'Create', :class => 'btn btn-warning' %>
  <% end %>
</div>