<div class="booyah-box col-xs-4 col-xs-offset-4 text-center">
  <h1>Create a Game</h1><br />

  <%= form_for @game do |f| %>
    <b>Player White ID (integer):</b>
    <%= f.text_field :player_white_id %><br /><br />

    <b>Player Black ID (integer):</b>
    <%= f.text_field :player_black_id %><br /><br />

    <%= f.submit 'Create', :class => 'btn btn-warning' %>
  <% end %>
</div>