<div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
<div id="wrap">
 
  <h1>Game On!</h1><br />
  <h2><%= @game.name %></h2><br />

  <% if current_user.id == @game.player_white_id %>
    <p>You are playing as the white chess set.</p>
  <% else %>
    <p>You are playing as the black chess set.</p>
    <br />
  <% end %>

<table>
  <tbody>
    
    <% (1..8).each do |row| %>   
      <% if row.even? %>
      
       <tr>         
        <% (1..8).each do |col| %>
          <% if col.odd? %>
            <td class="gray-space"></td>
          <% else %>             
            <td></td>
          <% end %>        
        <% end %>  
      </tr>

      <% else %>

      <tr> 
        
        <% (1..8).each do |col| %>

          <% if col.even? %>

            <td class="gray-space"></td>
          
          <% else %>
              
            <td></td>

          <% end %>
        <% end %>  
      </tr>
      

      <% end %>
    <% end %>  
   
  </tbody>
</table>
<br /><br />

</div>
</div>