<div class="booyah-box col-xs-6 col-xs-offset-3 text-center">
  <h1>Game On!</h1><br />
  <%= @game.player_white_id %> <br /><br />

<table>
  <tbody>
    
    <tr>
    
       <td>R</td>
       <td class="gray-space">Kn</td>
       <td>B</td>
       <td class="gray-space">Q</td>
       <td>Ki</td>
       <td class="gray-space">B</td>
       <td>Kn</td>
       <td class="gray-space">R</td>
      
    </tr>

    <tr>
       <td class="gray-space">P</td>
       <td>P</td>
       <td class="gray-space">P</td>
       <td>P</td>
       <td class="gray-space">P</td>
       <td>P</td>
       <td class="gray-space">P</td>
       <td>P</td>
       
      
    </tr>
    
    <tr>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
    </tr>
   

   <tr>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
    </tr>
     <tr>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
    </tr>
    
     <tr>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
       <td class="gray-space"></td>
       <td></td>
    </tr>

    <tr>
    
       <td>P</td>
       <td class="gray-space">P</td>
       <td>P</td>
       <td class="gray-space">P</td>
       <td>P</td>
       <td class="gray-space">P</td>
       <td>P</td>
       <td class="gray-space">P</td>
      
    </tr>

    <tr>
       <td class="gray-space">R</td>
       <td>Kn</td>
       <td class="gray-space">B</td>
       <td>Q</td>
       <td class="gray-space">Ki</td>
       <td>B</td>
       <td class="gray-space">Kn</td>
       <td>R</td>
      
    </tr>

  </tbody>
</table>
<br /><br />

  <%= @game.player_black_id %><br />

</div>