body {
  background: url('/assets/bgpattern.jpg');
  background-color: #222222;
}

header {
  border-top: 9px solid #222222;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0;
}

.hero {
  background: url('/assets/chess.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:300px;
  box-shadow: 0 3px 5px #2a2a2a;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;  
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.headline h1 {
  color:#f3f3f3;
  font-size: 52px;
  font-family: 'josefin_slabbold', sans-serif;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.booyah-box p {
  font-family: 'josefin_sansregular', sans-serif;
  font-size: 20px;
}
.clear {
  clear:both;
}


